<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  content="charset=utf-8"/>
    <title>【 北京二手车估价】北京个人急卖二手车-瓜子二手车直卖网</title>
    <script src="../jslib/jquery-2.1.1.min.js"></script>
    <script src="../jslib/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../jslib/bootstrap/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="../js/carservice.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="one">
            <img class="img-responsive" src="../images/f1f7e2fdb4f122894748dca2a2179402.jpg" />
        </div>
        <div class="two">
            <div class="row" >
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <img style="width: 70px" src="https://jr-sta.guazistatic.com/finance_web/gua-logo.6a59a211d81508a232ece27657d08071.png"/>
                </div>
                <div class="col-sm-8">
                    <ul id="nav_ul">
                        <li><a href="../toUser">首页</a></li>
                        <li><a href="../toBuyCar">我要买车</a></li>
                        <li><a href="../toSellCarPage">我要卖车</a></li>
                        <li><a href="../toServicePage">瓜子服务</a></li>
                        <li><a href="../toLoans">瓜子金融</a></li>
                        <li><a href="javascript:;">毛豆新车</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <div id="phone">
                        <div class="more_thing">
                            <p>热线电话 400-023-1529</p>
                                <!-- 登陆弹框 -->
                                <div id="login" >
                                    登录
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div >
            <h3 class="save">259项全车检测-安全</h3>
            <div class="c2c-process clearfix">
                <ul class="">
                    <li>
                        <div class="save-one"></div>
                        <p class="t">259项专业检测</p>
                        <p class="c">原奥迪中国二手车业务总监，领衔定制</p>
                    </li>
                    <li>
                        <div class="save-two"></div>
                        <p class="t">完备的检测流程</p>
                        <p class="c">上架前完成车况检测，成交过户前进行车况复检</p>
                    </li>
                    <li>
                        <div class="save-three"></div>
                        <p class="t">专业的评估师团队</p>
                        <p class="c">岗前培训，考核上岗，经验丰富</p>
                    </li>
                </ul>
            </div>
        <div class="protect-box clearfix">
            <ul class="w clearfix">
                <li>
                    <div class="condition condition-one"></div>
                    <p class="c">
                        水浸痕迹达到前排座椅音响底部 / 驾驶舱和后备箱地毯存在褶皱、
                        <br/> 变相变色、霉变情况 / 因水浸导致车内有严重刺鼻异味 /
                        <br/> 其他国家或地方标准下的水浸车情形
                        <br/>
                    </p>
                    <div class="condition condition-two"></div>
                    <p class="c">
                        发动机线束及橡胶制品存在熏烟或火烧 / 车辆覆盖件及驾驶舱存在
                        <br/>熏烟或火烧 / 其他国家或地方标准下的火烧车情形
                    </p>
                </li>
                <li>
                    <p class="t">车况舒心，买的放心</p>
                    <div class="condition condition-three"></div>
                    <p class="c">A/B/C柱一处及以上受损或有变形（变形至车身框架焊点），以及因此而进行
                        <br/> 修复或更换；
                        <br/> 前纵梁、后纵梁受损，或存在修复痕迹；后围板或后底板有更换或重新焊接、
                        <br/> 打胶痕迹；前叶子板内衬（内楦）有变形或修复痕迹；
                        <br/> 前后减震器座部位存在修复痕迹或焊接痕迹；防火墙存在修复痕迹或焊接痕迹；
                        <br/> 左右底大边存在切割或焊接痕迹；
                        <br/> 其他国家或地方标准下的重大事故车情形。
                    </p>
                </li>
            </ul>
        </div>
        <div class="row" >
            <div class="col-md-12">
                <img src="../images/kkk.PNG" class="img-responsive"/>
            </div>
            <div class="col-md-12">
                <img src="../images/ggg.PNG" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>

<div class="question">
    <h3>常见问题</h3>
    <div class="layouts clearfix">
        <div class="left">
            <ul class="clearfix">
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">瓜子二手车直卖网是谁?</p>
                    <p class="p2">瓜子二手车直卖网是中国领先的二手车直卖平台， 平均每一分钟就成交一辆。 瓜子二手车撮合个人直接卖给个人，没有中间商赚差价。 车源均为8年15万公里以内的个人二手车， 并通过瓜子专业评估师的专业检测，从源头保障车况。 用户在瓜子二手车购买车辆， 均可享受重大事故
                        30天可退，1年2万公里售后保障服务，售后无忧。
                    </p>
                </li>
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">买车提供哪些保障?</p>
                    <p class="p2">如发现车辆存在重大事故，承诺
                        30天可退。享受
                        1年2万公里售后保障，养车无忧。
                    </p>
                </li>
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">能提供什么样的金融服务?</p>
                    <p class="p2">瓜子二手车有专属金融管家为您量身定制金融方案，可拨打热线400-630-3009或在线快速申请。
                    </p>
                    <a rel="nofollow" target="_blank" class="lookmore" href="http://jr.guazi.com/bj">查看更多</a>
                </li>
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">提供车辆外迁服务吗?</p>
                    <p class="p2">瓜子二手车暂未开通外迁服务业务，外迁可参照以下流程：
                        <br/>1.在车辆当前城市提档，与原车主交割车辆，办理临时牌；
                        <br/>2.了解迁入地准入标准，准备所需材料；
                        <br/>3.前往迁入地车管所，验车、登记并领取新牌。
                    </p>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul class="clearfix">
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">交易流程是怎么样的?</p>
                    <p class="p2">买家攻略:
                        <br />1、预约看车：拨打
                        400-023-1529或在线预约；
                        <br />2、专人带看：瓜子将安排售车顾问陪同您看车；
                        <br />3、签署合同：签署三方合同（买家、卖家、瓜子二手车），支付定金；
                        <br />4、交易过户：支付全款，好车开回家。
                        <br /><br />卖家攻略：
                        <br />1、提交信息：填写表单或拨打
                        400-023-1529预约
                        <br />2、上门服务：专业评估队伍免费上门登记验车
                        <br />3、买家看车：交易顾问带领买家上门看车
                        <br />4、交易过户：瓜子二手车专人帮忙办过户</p>
                </li>
                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">车辆过户怎么操作?</p>
                    <p class="p2">我平台提供过户服务，为您收集材料，指引协助过户。
                    </p>
                </li>

                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">瓜子服务费是谁出呢？</p>
                    <p class="p2">交易成功后，瓜子会向买方收取一定服务费。买方支付服务费后，可享车辆维修保障、30天可退或无忧退等多项售后服务。</p>
                </li>

                <li>
                    <span class="nub-tit"></span>
                    <p class="p1">页面上的价格还可以谈吗?</p>
                    <p class="p2">页面上展示的价格是车主的报价。瓜子二手车直卖网帮助买家直接和卖家面对面交易，由买卖双方共同决定交易价格。</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12">
           <img src="../images/jjj.PNG" class="img-responsive"/>
        </div>
    </div>
</div>



<!-- 登录弹窗 -->
<div class="pop-box pop-login js-pop-login" id="login_modal">
    <form target="guazi_login" action="" method="post">
        <div class="pop-close" id="closeLogin"></div>
        <p class="pop-tit">瓜子二手车直卖网</p>
        <ul class="phone-login">
            <li>
                <p class="phone-login-tit">手机号码</p>
                <input name="phone" id="phone_num" class="phone-login-input js-phoneNum js-phone-input" placeholder="请输入您的手机号码"/>
            </li>
            <li>
                <p class="phone-login-tit">验证码</p>
                <input name="code" id="login_code" class="phone-login-input phone-login-code js-code" placeholder="请输入验证码" style="width: 232px;"/>
                <div class="get-code">获取验证码</div>
            </li>
        </ul>
        <p class="p-error" id="loginError"></p>
        <button class="sub-btn js-checkcode" type="button" id="login_but">登录</button>
        <p class="free-phone">免费咨询400-023-1529</p>
        <p class="agree-text" style="margin-top: 20px;">登陆即视为同意<a href="javascript:;">《用户使用协议》</a>及
            <a href="javascript:;">《隐私权条款》</a></p>
    </form>
</div>

<script>


    $('#login').on('click', function () {
        $('#login_modal').slideDown('fast')
    })

    $('#closeLogin').on('click', function () {
        $('#login_modal').slideUp('fast')
    })

    /**
     * @description: 获取验证码
     */

    $('.get-code').on('click', function () {
        // 获取手机号
        var phone_number = $('#phone_num').val()
        if (!phone_number) {
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "请输入手机号!",
            });
            return;
        }
        // 发送ajax 请求 ，字段可以自己定义，接口地址按项目填
        $.ajax({
            url: '../page/getCode',
            type: 'post',
            data: {
                phone_number: phone_number
            },
            success: function (data) {
                console.log(data)
            },
            error: function (data) {
                console.log(data)
            }
        })
    })

    // 点击登录
    $('#login_but').on('click', function (e) {
        // 组织表单默认事件
        e.stopPropagation()
        var phone_number = $('#phone_num').val() // 获取手机号
        var login_code = $('#login_code').val() // 获取验证码
        if (!phone_number) {
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "请输入手机号!",
            });
            return
        }
        if (!login_code) {
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "请输入验证码!",
            });
            return
        }

        // 发送ajax 请求 ，字段可以自己定义，接口地址按项目填
        $.ajax({
            url: '../page/login',
            type: 'post',
            data: {
                login_code: login_code
            },
            dataType: 'json',
            success: function (data) {
                if (data){
                    location.href=location;
                } else{
                    bootbox.alert({
                        size: "small",
                        title: "提示",
                        message: "验证码错误!",
                    });
                }
            },
            error: function (data) {

            }
        })
    })




</script>


</body>
</html>